---
import Header from '../layout/Header.astro';
import Footer from '../layout/Footer.astro';
import Hero from '../sections/Hero.astro';
import About from '../sections/About.astro';
import Projects from '../sections/Projects.astro';
import Contact from '../sections/Contact.astro';
---

<Header />
<main>
  <Hero />
  <About />
  <Projects />
  <Contact />
</main>
<Footer />
